/* Resets and general */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  height: 100dvh;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1rem;
}

h1 {
  margin: 0;
  color: #585858;
}

/* Input containers */

#mode-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#size-input-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

/* Buttons */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.3rem;
  min-width: 120px;
  border: solid 1px;
  cursor: pointer;
  border: solid 1px #c5c5c5;
  font-size: 1rem;
}

a, a:visited, a:hover {
  color:#575757;
}

button:hover {
  background-color: #dddddd;
}

button:disabled {
  cursor: not-allowed;
  opacity: 60%;
}

.grayscale-button-active {
  background-color: #575757;
  color: #ffffff;
  font-weight: bold;
}

button.grayscale:disabled {
  background-color: #575757;
}

.rainbow-button-active {
  background-color: #ff00ff;
  color: #ffffff;
  font-weight: bold;
}

button.rainbow:disabled {
  background-color: #ff00ff;
}

.eraser-button-active {
  background-color: #00b7ff;
  color: #ffffff;
  font-weight: bold;
}

button.eraser:disabled {
  background-color: #00b7ff;
}

/* Grid */

#grid {
  display: grid;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border: solid 1px #c5c5c5;
}

.grid-square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  border: none;
}

/* Footer */

.footer {
  color: #585858;
  font-size: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 42px;
}