body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px;
}

#grid {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  height: 85vmin;
  max-height: 85vh;
  width: 85vmin;
  max-width: 500px;
}

.column {
  flex: 1;
}

.grid-square {
  flex: 1;
  padding-top: 100%;
  border: none;
  /* border: solid 1px #c7c7c7; */
}

.grid-square-colored {
  background-color: #575757;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

button.active {
  background-color: #ff00ff;
  font-weight: bold;
}

button:hover {
  background-color: #dddddd;
}

button:disabled {
  color: #eeeeee;
  background-color: #ff00ff;
  font-weight: bold;
  cursor: not-allowed;
  opacity: 60%;
}

button:disabled:hover {
  background-color: initial;
  transform: none;
  background-color: #ff00ff;
}

button.unique:disabled {
  background-color: #575757;
}

button.eraser:disabled {
  background-color: #00b7ff;
  color: #ffffff;
}