body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px;
  height: 100%;
}

#grid {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  height: 85%;
  max-height: 85%;
  width: 85%;
  max-width: 500px;
  border: solid 1px #c5c5c5;
}

#mode-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mode-input-container button {
  flex: 1;
}

#size-input-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.column {
  flex: 1;
}

.grid-square {
  flex: 1;
  padding-top: 100%;
  border: none;
  /* border: solid 1px #f7f6f6; */
}

.grid-square-colored {
  background-color: #575757;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  height: 35px;
  min-width: 120px;
  border: solid 1px;
  background-color: #f0f0f0;
  cursor: pointer;
  border: solid 1px #c5c5c5;
}

button:hover {
  background-color: #dddddd;
}

button:disabled {
  cursor: not-allowed;
  opacity: 60%;
}

button:disabled:hover {
  background-color: initial;
}

.unique-button-active {
  background-color: #575757;
  color: #ffffff;
  font-weight: bold;
}

button.unique:disabled {
  background-color: #575757;
}

.rainbow-button-active {
  background-color: #ff00ff;
  color: #ffffff;
  font-weight: bold;
}

button.rainbow:disabled {
  background-color: #ff00ff;
}

.eraser-button-active {
  background-color: #00b7ff;
  color: #ffffff;
  font-weight: bold;
}

button.eraser:disabled {
  background-color: #00b7ff;
}

/* FOOTER */

.footer {
  color: #585858;
  font-size: 0.9em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.footer-removed {
  display:none;
}

h1 {
  margin: 0;
  color: #585858;
}